# Enter values for the variables below
# Rename this file to .env to use the variables in the notebooks
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
CLINOPS_DB=
CLINOPS_USER=
CLINOPS_PASSWORD=
CDISC_API_KEY=
OSB_BEARER_TOKEN=