venv/
**/__pycache__
.env
output/
output_from_main/
tmp*/
working_dir/*
.ipynb_checkpoints
.Trash-0
data
crf
output
reports
notebooks/cdisc-*
notebooks/cdisc360i-pocs
notebooks/360i
notebooks/template2define